body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #e1dbd7, #dfdcdc,#e0e8ea);
}

.full-width-div {
    width: 100%; 
    max-width: 500%;
    background-color: rgb(37, 35, 35); 
    padding: 200px; 
    overflow: hidden;
    margin: 0;
}

.centered-text {
    color: white; 
    text-align: center; 
    margin: 0; 
    font-size: xx-large;
    font-weight: 900;
}


.hr-contacter {
    margin-top: 50px;
    width: 8%; 
    margin-right: 15px;
    border-top: 3px solid #09116a;
}

.contact{
    background-color: white;
    padding-bottom: 170px;
}
.flex-container{
    margin-top: 70px;
    margin-left: 50px;
   
}


.icon-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 20px; 
    margin-left: 20px;
    margin-bottom: 30px;
}

.icon-item {
    display: flex; 
    align-items: center; 
}

.icon-circle {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #2b7ed7; 
    color: white; 
    font-size: 24px; 
    margin-right: 10px; 
    transition: transform 0.3s ease; 
}

.icon-circle:active {
    transform: translateY(-5px); 
}
.span-contacter{
    font-weight: bold;
    font-size: medium;
   margin-left: 10px;
}

.label{
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.form-container {
    width: 100%;
    max-width: 559px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    background-color: #2b7ed7;
    color: white;
    padding-bottom: 50px;
}

.input-field {
    width: 90%; 
    padding: 15px;
    border: 0; 
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
    margin-left: 20px;
}

.input-field:focus {
    background-color: #cceef1;
    outline: none; 
}

.submit-button {
    padding: 15px 10px;
    background-color: #fdfeff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 20px;
    width: 20%;
}

.custom-select {
    font-size: 16px; 
    color: #565758;
}

.custom-select:focus {
    border-color: #007bff; 
}

.custom-select option {
    font-size: 16px; 
}

.form-control::placeholder {
    color: rgba(93, 87, 87, 0.5); 
    opacity: 1; 
}

.custom-form-group {
    margin-bottom: 15px; 
    
}

.custom-select, .custom-textarea {
    width: 90%; 
    padding: 15px;
    border: 0; 
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
    margin-left: 20px;
}

.custom-select:focus, .custom-textarea:focus {
    border-color: #007bff;
}
