body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #f3efec, #f3f0f0,#e0e8ea);
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

.item-container {
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
    color: white;
    padding: 0; 
    
}

.button-container {
    padding-top: 15pc;
    text-align: left; 
    margin: 0 25px; 
}

.action-btn {
    background-color: rgba(20, 124, 236, 0.8); 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 25px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.extra-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
    padding-bottom: 25px;
}
.form-group {
    margin: 10px 0; 
  }

.date ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.link-button {
    color: #00ff00; 
}

.divider {
    margin: 10px 0; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
}

.like-button {
    cursor: pointer;
    color: #ff0000;
    font-size: 18px;
    margin-right: 29px;
}

.description-X {
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px 15px 0 15px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.input-container {
    display: flex;
    gap: 10px; 
    margin-left: 20px; 
  }
  
  .input-field {
    flex: 1;
    padding: 15px;
    border: 0;
    border-radius: 25px;
    background-color: #f7fcfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .textarea {
    width: 95%; 
    padding: 25px;
    border: 0; 
    border-radius: 25px;
    background-color:#f7fcfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; 
    margin-left: 20px;
    margin-bottom: 30px;
}

.button-container {
    margin-top: -12pc;

}

.submit-button {
    padding: 8px 6px;
    background-color: #006adb;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 20px;
    width: 20%;
}

.save-button {
    font-size: 15px; 
    margin-top: 20px;
    margin-left: 20px;
}

.save-button input[type="radio"]:checked {
    background-color: #007BFF;
}

.save-button input[type="radio"] {
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #454545;
    border-radius: 0;
    cursor: pointer;
    position: relative;
}


.review-container {
    margin-bottom: 20px;

  }
